@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Roboto+Mono:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
:root {
  --primary-color: #13435b;
  --secondary-color: #052230;
  --off-white: #fdfbeb;
  --teal: #298c6f;
  --lime: #bedb45;
  --orange: #f97821;
  background-color: var(--primary-color);
  background-size: cover !important;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Belanosima", sans-serif;
  font-weight: 600;
}

h2,
h3,
a {
  color: var(--teal);
}

p {
  color: var(--off-white);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 2% 15%;
  width: 70%;
}

h1 {
  color: var(--lime);
  font-size: 5.25rem;
  margin: 2% 0 0 15%;
  line-height: 6.5rem;
  letter-spacing: 2px;
  width: 50%;
}

h2 {
  font-size: 3rem;
  letter-spacing: 1.5px;
  margin: 2% 15%;
  padding-top: 4rem;
}

h3 {
  font-size: 2rem;
  letter-spacing: 1.5px;
  margin: 0 15%;
}

/*  ========================== 
    ****  NAVBAR STYLING  ****
    ==========================  */
.nav-item {
  display: flex;
  justify-content: flex-end;
  border: transparent solid 1px;
  list-style: none;
  margin: 3.5rem;
}
a.nav-link {
  color: var(--off-white);
  display: flex;
  text-decoration: none;
  font-size: x-large;
  padding: 0.5rem;
}
.nav-menu {
  position: fixed;
  height: 100%;
  right: -100%;
  flex-direction: column;
  background-color: var(--secondary-color);
  opacity: 95%;
  width: 50%;
  transition: 0.3s;
  white-space: nowrap;
  z-index: 98;
}
.nav-menu.active {
  right: 0;
  padding: 2rem;
}
.nav-icon {
  position: fixed;
  cursor: pointer;
  width: 150px;
  min-width: 50px;
  margin: 2rem;
}
.nav-item-nav-icon {
  display: none;
}
.nav-link {
  transition: 0.7s ease;
}

.nav-item:hover,
a.nav-link:hover,
a.nav-link:active {
  color: var(--lime);
}
.hamburger {
  display: block;
  cursor: pointer;
  position: fixed;
  top: 2rem;
  right: 2rem;
  padding: 8px;
  border: #bedb45 solid 2px;
  border-radius: 10px;
  z-index: 99;
}
/*hamburger animation*/
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #bedb45;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
/*  =========================
    ****  ABOUT SECTION  ****  
    ========================= */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container img {
  max-width: 50%;
  max-height: 55vh;
  margin-right: 15%;
  filter: drop-shadow(12px 12px 10px #072b3d);
}
.container h1 {
  max-width: 60%;
}
#about {
  padding-top: 4.5rem;
  padding-bottom: 4rem;
}
.line {
  background-color: var(--orange);
  height: 10px;
  width: 5rem;
  margin: 0 15%;
  border: none;
  border-radius: 15px;
}

/*  ======================================
    ****  EXPERIENCE SECTIION STYLING ****
    ======================================  */
.experience {
  background-color: var(--secondary-color);
  color: var(--off-white);
  padding: 0.25rem 0;
  width: 100%;
}
/*  ========================== 
    ****  SKILLS STYLING  ****
    ==========================  */
.skills {
  display: grid;
  grid-template-columns: 40% 40%;
  list-style-type: none;
  text-align: left;
  margin-left: 15%;
  padding-bottom: 5rem;
}
.skills li::before {
  content: "◦";
  color: var(--orange);
  margin: 0 2%;
}

/*  ============================ 
    ****  PROJECTS STYLING  ****
    ============================  */
#projects {
  background-color: var(--teal);
  padding-top: 1rem;
  padding-bottom: 7rem;
}
#projects h2 {
  color: var(--secondary-color);
  padding-top: 0;
}
#projects ul {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-between;
  margin-inline: 15%;
}
#projects li {
  margin-top: 3em;
  list-style: none;
}
#projects a {
  background-color: var(--lime);
  color: var(--secondary-color);
  border-radius: 15px;
  font-family: "Belanosima", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  width: 70%;
  padding: 20px 30px;
}
#projects a:hover {
  background-color: var(--secondary-color);
  color: var(--off-white);
}

/*  ================================ 
    ****  MESSAGE FORM STYLING  ****
    ================================  */
form {
  border: none;
  margin-top: 50px;
  color: var(--secondary-color);
}
#form label {
  color: var(--lime);
  font-weight: 300;
  display: grid;
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-inline: 15%;
}
#form input,
textarea {
  font-family: "Roboto Mono", monospace;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  background-color: var(--off-white);
  color: var(--secondary-color);
  font-size: 16px;
  padding-left: 10px;
  margin-inline: 15%;
}
#form input {
  width: 35%;
  height: 50px;
}
#form textarea {
  width: 50%;
  height: 150px;
  padding-top: 10px;
}
#form fieldset {
  border-style: none;
}

#messages {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
#messages ul {
  margin-inline: 13%;
  list-style-type: none;
  color: var(--lime);
  padding-bottom: 1.5em;
}
#messages li {
  border-bottom: var(--secondary-color) solid 1.5px;
  padding-bottom: 6rem;
  padding-top: 2rem;
}
#messages a {
  display: block;
  justify-content: space-between;
  color: var(--orange);
  font-size: 16px;
  text-decoration: none;
  margin-left: 5%;
  text-transform: uppercase;
}
#messages span {
  display: block;
  margin-left: 8%;
  width: 60%;
}
#messages a:hover {
  color: var(--teal);
}

/*  =====================
    *** BUTTON STYLES ***
    ===================== */
button {
  font-family: "Belanosima", sans-serif;
  font-size: 16px;
  color: var(--secondary-color);
  background-color: var(--orange);
  border: none;
  border-radius: 15px;
  padding: 1em 0;
  margin: 1% 15% 2%;
  width: 15%;
}
#messages button {
  display: block;
  float: right;
}
button:hover,
button:hover {
  background-color: var(--lime);
}
/*  ========================== 
    ****  FOOTER STYLING  ****  
    ==========================  */
footer {
  background-color: var(--secondary-color);
  text-align: center;
  padding-top: 2.5em;
  padding-bottom: 0.5em;
  width: 100%;
}

/*  ================================
    ****  SOCIAL ICONS STYLING  ****
    ================================  */
#connect img {
  display: inline-block;
  height: 40px;
  width: 40px;
  padding-bottom: 1em;
  margin: 0 1.5em;
}

/*  ================================================== 
    ****************  MEDIA QUERIES   ****************
    ==================================================   */
/* When the width is between 360px and 980px - change the appearance */
@media (max-width: 980px) and (min-width: 360px) {
  .hamburger {
    right: 1rem;
  }
  h1 {
    font-size: 2.75rem;
    line-height: 4rem;
    margin-left: 8rem;
    margin-top: 2rem;
  }
  .container img {
    padding-right: 2.5rem;
  }
  .line {
    height: 8px;
    margin: 6% 10%;
  }

  h2 {
    font-size: 2.25rem;
    margin: 1% 10%;
  }
  #experience {
    padding: 0.5rem 0;
  }
  .experience {
    padding-bottom: 5rem;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .skills {
    display: inline;
    font-size: 12px;
    white-space: nowrap;
    margin-top: 2rem;
    margin-left: 3.5rem;
  }

  p {
    font-size: 0.8rem;
    margin: 5% 10%;
    width: 75%;
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }
  #projects a {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-evenly;
    white-space: nowrap;
    width: fit-content;
  }
  #form input,
  #form textarea {
    width: 70%;
    align-items: center;
  }
  button {
    align-content: center;
    width: 70%;
    margin: 5% 15%;
  }
  #messages h2 {
    padding-top: 1.5rem;
  }
  #messages span {
    width: 80%;
  }
  a.nav-link {
    padding-left: 55%;
  }
}

@media (max-width: 980px) and (max-width: 768px) {
  .nav-menu {
    width: 100%;
    opacity: 100%;
  }
  .nav-item-nav-icon {
    display: block;
    position: absolute;
    cursor: pointer;
    width: 150px;
  }
}

@media (max-width: 1220px) {
  .nav-icon {
    display: block;
    position: absolute;
  }
  .skills {
    display: block;
    font-size: 15px;
    white-space: nowrap;
    margin-top: 2rem;
  }
}
