/*  TOP MENU  */
#menu {
  text-align: right;
  margin: 10px;
  font-weight: 600;
  padding: 5px;
  letter-spacing: 2pt;
  word-spacing: 8px;
}

#menu-icon {
  height: 20px;
  float: right;
  padding-left: 25px;
}

/*   MAIN  */
body {
  background-color: #1a1a1a;
  color: green;
  font-family: "Courier New";
  padding-left: 50px;
  padding-right: 50px;
}

h1 {
  text-align: center;
  font-size: 100px;
  font-weight: 600;
  flex-wrap: wrap;
}

h2 {
  font-size: 30px;
  text-transform: lowercase;
  font-weight: 550;
}

h2::before {
  letter-spacing: 8px;
  content: "<";
}

h2::after {
  padding: 8px;
  content: ">";
}

h4 {
  font-size: 20px;
  text-transform: lowercase;
}

p {
  font-size: 18px;
  word-spacing: 0.5rem;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  color: pink;
}

a:active {
  color: limegreen;
}

/*  CONNECT LINKS  */
.connect {
  list-style-type: none;
  font-weight: bold;
}

/*  FORM STYLING  */
form {
  border: 1px solid limegreen;
  border-radius: 15px;
  background-color: #101812;
  width: auto;
  margin-inline: 20px;
  padding-block: 25px;
}

label {
  margin-inline: 50px;
  display: block;
  font-size: 12px;
}

input {
  border: 1px solid limegreen;
  border-radius: 8px;
  background-color: #303030;
  color: rgb(166, 218, 167);
  font-family: inherit;
  width: 50%;
  height: 25px;
  margin-inline: 50px;
  margin-block: 8px;
  padding-left: 10px;
  display: inline-block;
}

textarea {
  border: 1px solid limegreen;
  border-radius: 10px;
  background-color: #303030;
  color: rgb(166, 218, 167);
  width: 50%;
  height: 150px;
  margin-inline: 50px;
  margin-block: 8px;
  padding: 10px;
  font-family: inherit;
  display: inline-block;
}

button {
  border: none;
  border-radius: 15px;
  background-color: limegreen;
  color: #1a1a1a;
  margin-top: 10px;
  margin-inline: 25%;
  padding-block: 15px;
  padding-inline: 30px;
  font-size: 14px;
  display: inline-block;
}

button:hover {
  background-color: rgb(41, 140, 41);
}

/*  FOOTER   */
footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 5px;
}
